{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": [
    "simple-import-sort",
    "import"
  ],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:mdx/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".mdx"
        ]
      }
    }
  },
  "rules": {
    "import/no-named-as-default": 0,
    "import/no-unresolved": "off",
    "import/extensions": 0, 
    "react/forbid-prop-types": "off",
    "class-methods-use-this": [
      0
    ],
    "indent": [
      "error",
      2,
      {
        "VariableDeclarator": {
          "var": 2,
          "let": 2,
          "const": 3
        },
        "outerIIFEBody": 0,
        "MemberExpression": 1,
        "ArrayExpression": 1,
        "ObjectExpression": 1,
        "ImportDeclaration": 1,
        "flatTernaryExpressions": true,
        "ignoreComments": true,
        "SwitchCase": 1
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2,
        "maxEOF": 1
      }
    ],
    "no-var": "error",
    "import/no-duplicates": "error",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": [
          "react"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "quotes": [
      "error",
      "double",
      {
        "allowTemplateLiterals": true
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "max-len": [
      "error",
      {
        "code": 110,
        "ignoreComments": true
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "camelcase": [
      0
    ],
    "import/prefer-default-export": "off",
    "no-nested-ternary": "off",
    "no-underscore-dangle": "off",
    "import/no-cycle": "off",
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error",
          "group",
          "groupEnd",
          "info"
        ]
      }
    ]
  }
}